:root {
  --light-sea-green-2: #20ac99;
  --steel-blue-2: #2e80b6;
  --light-sea-green: #25ccbf;
  --white-smoke: #ecf0f1;
  --white-smoke-3: #edeff2;
  --silver: #bec3c7;
  --steel-blue: #3b99d9;
  --dark-khaki: #a8d069;
  --medium-sea-green: #30ad64;
  --sandy-brown: #f8c740;
  --goldenrod: #e2a62b;
  --khaki: #face6a;
  --sandy-brown-2: #e4b962;
  --salmon: #fd7072;
  --indian-red: #cf404d;
  --tan: #d39f9a;
  --dim-gray: #735260;
  --indian-red-2: #af4173;
  --brown: #822e50;
  --tomato: #e64c40;
  --firebrick: #bf3a30;
  --salmon-2: #fc7d64;
  --dim-gray-2: #49647b;
  --dark-slate-gray: #2d3e4f;
  --dark-slate-gray-2: #404047;
  --white-smoke-2: #f0f0f0;
  --cadet-blue: #668cad;
  --pale-turquoise: #bfe0ff;
  --light-sky-blue: #69b9ff;
  --dodger-blue: #2e9dff;
  --black: #192024;
  --dim-gray-3: #676770;
  --light-slate-gray: #8e8e9c;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #6a859c;
  background-color: #edeff2;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: #676770;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

h3 {
  color: #676770;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #676770;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #69b9ff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.button.tab {
  background-color: #92a0ad;
  margin-left: 8px;
  margin-right: 8px;
}

.button.tab:hover, .button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  color: #676770;
  transition: all .3s ease-in-out;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  color: #69b9ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cost {
  text-align: center;
  background-color: #fff;
  padding: 80px 10px;
  position: relative;
}

.cost.member {
  background-color: #192024;
}

.white-box {
  text-align: center;
  background-color: #fff;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  padding: 15px;
}

.white-box.transparent {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  text-align: center;
  background-image: url('../images/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg'), url('../images/sport_idioms_3a57e5deed.png');
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: cover, cover;
  background-attachment: scroll, scroll;
  border-bottom: 4px solid #69b9ff;
  padding-top: 195px;
  padding-bottom: 195px;
  font-weight: 400;
  line-height: 18px;
}

.hero-heading {
  color: #000;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  text-decoration: none;
  position: static;
}

.hero-subheading {
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 300;
  line-height: 25px;
}

.hollow-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #2e9dff;
  border-color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0;
  margin-bottom: -10px;
}

.section-heading.centered {
  color: #676770;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -50px;
  font-size: 30px;
  font-weight: 300;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #8e8e9c;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}

.section-subheading.center.off-white {
  color: #e8e8e8;
  text-align: center;
  text-transform: none;
  margin-top: 20px;
  padding-bottom: 0;
  font-size: 20px;
}

.section-title-group {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.form-field {
  border: 0 solid #000;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 17px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  background-color: #eff7ff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  text-align: center;
  background-color: #383838;
  border-top: 1px solid #dbdbdb;
}

.footer-text {
  color: #babacf;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}

.grid-image {
  background-color: #69b9ff;
  border: 10px solid #fff;
  border-radius: 50%;
  width: 40%;
  margin: 20px auto;
  padding: 10px;
  display: block;
  box-shadow: 0 0 0 1px #2e9dff;
}

.grid-image.for-booking-icon {
  width: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.info-icon {
  float: left;
}

.footer-link {
  color: #668cad;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 6px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
  font-size: 16px;
}

.tab-menu {
  text-align: center;
  margin-bottom: 40px;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
}

.form {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
  display: block;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.slider {
  background-image: url('../images/images-1.jpg'), url('../images/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  display: block;
}

.slide1 {
  background-image: url('../images/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg');
  background-position: 0 0;
  background-size: auto;
}

.slide-nav, .slide-nav-2, .slide-nav-3, .slide-nav-4, .slide-nav-5, .slide-nav-6, .slide-nav-7, .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.slider-8 {
  background-color: var(--light-sea-green-2);
}

.slider-9, .slider-10 {
  background-color: var(--steel-blue-2);
}

.slider-11 {
  background-color: #944545;
}

.slider-12, .slider-13 {
  background-color: #a74747;
}

.slider-14, .slider-15, .slider-16, .slider-17 {
  background-color: #b14848;
}

.slider-18 {
  background-color: #c74b4b;
}

.slider-19, .slider-20 {
  background-color: #c24444;
}

.slider-21 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.slider-22, .slider-23, .slider-24 {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
}

.mask {
  background-image: url('../images/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg');
  background-position: 100% 0;
  background-size: auto;
}

.slider-25, .slider-26, .slider-27, .slider-28, .slider-29 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.slide {
  background-image: url('../images/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg');
  background-position: 50%;
  background-repeat: repeat;
  background-size: auto;
}

.slide-2 {
  background-image: url('../images/images-1.jpg');
  background-position: 0 0;
  background-size: auto;
}

.heading {
  color: var(--light-sea-green);
  text-align: center;
  -webkit-text-stroke-color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  object-fit: fill;
  background-color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.slide-3 {
  background-image: url('../images/images-2.jpg');
  background-position: 0 0;
  background-size: 360px 300px;
}

.button-2 {
  background-color: var(--white-smoke);
  color: #000;
  text-transform: uppercase;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border: 1px #000;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}

.list {
  color: var(--white-smoke-3);
  text-align: left;
  padding-top: 20px;
  font-size: 18px;
  font-style: normal;
}

.sportcenter {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 40px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-radius: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-wrapper.home {
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-block_1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-features-block {
  margin-top: 16px;
  margin-bottom: 24px;
}

.gallery-list {
  color: #5c6872;
}

.gallery-feature {
  background-image: url('../images/');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-bottom: 8px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.gallery-block_4 {
  grid-row-gap: 40px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-block_4.tin-shui-wai {
  background-color: var(--silver);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-image {
  width: 100%;
}

.grid {
  grid-template-columns: .75fr .5fr;
  grid-template-areas: ". Area"
                       "Area-3 Area-2";
}

.heading-2 {
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.heading-2.tin-shui-wai {
  background-color: rgba(255, 233, 233, 0);
}

.paragraph {
  margin-bottom: -5px;
}

.image, .image-2 {
  border-radius: 20px;
  margin-bottom: -25px;
}

.image-3 {
  border-radius: 20px;
}

.image-4, .image-5, .image-6 {
  border-radius: 20px;
  margin-bottom: -25px;
}

.image-7 {
  border-radius: 20px;
}

.paragraph-2 {
  color: #414a52;
  margin-top: -25px;
  margin-bottom: -40px;
  font-size: 15px;
}

.paragraph-2.home {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body {
  background-color: #fff;
}

.paragraph-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.text-block, .text-block-2, .text-block-3 {
  text-transform: capitalize;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template: "Area"
                 "."
                 "."
                 "."
                 "."
                 "."
                 "."
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block.for-rent {
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block.for-buy {
  text-align: center;
  grid-template-rows: auto auto auto auto auto auto auto auto 1fr auto auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: 0;
}

.hero-heading-center {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.testimonial-slider-small {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.testimonial-slider {
  background-color: rgba(0, 0, 0, 0);
  max-width: 800px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slide-wrapper {
  max-width: 48%;
  margin-right: 4%;
}

.testimonial-card {
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.testimonial-info {
  align-self: stretch;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonial-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.testimonial-author {
  margin-bottom: 2px;
}

.tagline {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
}

.testimonial-icon-wrapper {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.testimonial-slider-left {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  left: -70px;
}

.testimonial-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.testimonial-slider-right {
  justify-content: center;
  align-items: center;
  width: 40px;
  display: flex;
  right: -70px;
}

.testimonial-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slide-nav {
  display: none;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.testimonial-slider-large {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.testimonial-slider-two {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
}

.testimonial-slide {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 64px;
  display: flex;
}

.testimonial-content {
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
  margin-right: 40px;
  display: flex;
}

.testimonial-quote-icon {
  margin-bottom: 24px;
}

.testimonial-quote {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.testimonial-info-two {
  align-items: center;
  display: flex;
}

.testimonial-author-name {
  font-weight: 700;
}

.testimonial-image-two {
  object-fit: cover;
  width: 350px;
  height: 400px;
}

.testimonial-author-image-three {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 24px;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 40px 30px;
  position: relative;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 40%;
  display: flex;
}

.features-paragraph {
  margin-top: 40px;
  margin-bottom: 24px;
}

.features-right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 55%;
  margin-bottom: -16px;
  padding-left: 0;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 16px;
}

.heading-3 {
  color: #babacf;
}

.container-3 {
  flex-direction: column;
  display: flex;
}

.paragraph-4 {
  text-align: left;
}

.tab-pane-tab-3 {
  flex-direction: column;
  display: flex;
}

.hero-without-image-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-back-to-home {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 20px;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-back-to-home:hover {
  color: #fff;
  background-color: #32343a;
}

.button-back-to-home:active {
  background-color: #43464d;
}

.list-item, .list-item-2 {
  text-align: left;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.container-_registerform {
  z-index: 10;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px;
  padding-top: 40px;
  display: block;
  position: relative;
}

.form-block {
  z-index: 10;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
  position: relative;
}

.select-field {
  color: #4f5a63;
  background-color: #fff;
  font-weight: 400;
}

.select-field.text-field-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 16px;
  line-height: 10px;
}

.checkbox-field {
  color: #282f35;
  text-align: center;
  white-space: normal;
  word-break: normal;
  -webkit-text-fill-color: inherit;
  background-color: rgba(156, 231, 224, .64);
  background-clip: border-box;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 8px 0 8px 30px;
  font-size: 16px;
  position: static;
}

.checkbox-field.text-field-2.for-time {
  color: #1e2024;
  background-color: rgba(156, 231, 224, .64);
  padding-left: 3rem;
  padding-right: .25rem;
}

.form-2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.paragraph-5 {
  color: #668cad;
  margin-top: 30px;
  font-size: 16px;
}

.heading-5 {
  color: #babacf;
}

.paragraph-6 {
  color: #38384a;
  font-size: 16px;
}

.hkd {
  color: #3b4854;
  font-size: 16px;
}

.text-field {
  margin-bottom: 100px;
}

.input {
  margin-bottom: 20px;
}

.heading-6 {
  color: #40a0f2;
  text-align: center;
  mix-blend-mode: hard-light;
  background-color: rgba(180, 255, 238, .75);
  border-radius: 20px;
  padding: 10px 20px;
}

.signup-field {
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  align-items: center;
  height: 54px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  font-size: 16px;
  transition: border-color .2s, box-shadow .2s, background-color .2s;
  display: flex;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
}

.signup-field:focus {
  border: 1px solid #1875f0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 4px #1875f0;
}

.signup-field::placeholder {
  color: rgba(51, 51, 51, .3);
}

.terms-text {
  color: rgba(51, 51, 51, .6);
  padding-left: 5px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

.login-container {
  z-index: 10;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: block;
  position: relative;
}

.login-button {
  background-color: #3144f3;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  padding: 13px 18px 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  transition: background-color .2s;
  display: block;
}

.login-button:hover {
  background-color: #1875f0;
}

.login-head {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3em;
}

.gdpr-checkbox {
  text-align: left;
  margin-top: 20px;
}

.login-page-link {
  color: #000;
  font-weight: 600;
}

.signup-label {
  z-index: -1;
  opacity: .6;
  color: #000;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 2px;
  font-size: 15px;
  font-weight: 400;
}

.memberstack-form {
  padding-top: 10px;
  position: relative;
}

.field-row {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 10px;
  display: flex;
}

.login-page-wrapper {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 5% 100px;
  position: relative;
}

.field-wrapper {
  width: 100%;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
}

.field-wrapper.first-name-wrapper {
  margin-right: 15px;
}

.error-message {
  z-index: 100;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-3 {
  text-align: left;
  width: 800px;
  margin-left: 100px;
  margin-right: 200px;
}

.select-field-2 {
  background-color: #fff;
}

.select-field-2.text-field-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.select-field-3 {
  background-color: #fff;
}

.select-field-3.text-field-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.switch {
  background-color: #edeef6;
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;
  width: 4rem;
  height: 2rem;
  margin-right: .5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: inset -4px -4px 5px rgba(255, 255, 255, .54), 1px 1px 1px #fff, inset 4px 4px 5px rgba(67, 81, 104, .2);
}

.margin.margin-small {
  margin-bottom: 1rem;
}

.margin.margin-medium {
  margin-bottom: 2rem;
}

.toggle-container {
  z-index: 2;
  border-radius: 20px;
  width: 50%;
  height: 100%;
  padding: 2px;
  position: relative;
}

.toggle {
  background-color: #f3f7fc;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 1px #fff, 0 1px 3px rgba(67, 81, 104, .2);
}

.checkbox-label {
  display: none;
}

.div-block-2 {
  width: 100%;
  max-width: 25rem;
}

.heading-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.text-field-2 {
  color: #6b7385;
  text-align: left;
  background-color: #f3f7fc;
  border: 1px #000;
  border-radius: 1000px;
  margin-top: 10px;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: inset -4px -4px 6px rgba(255, 255, 255, .52), inset 4px 4px 5px rgba(67, 81, 104, .2);
}

.checkbox-field-2 {
  cursor: pointer;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block;
}

.radio-button {
  display: none;
}

.s-no {
  color: #828690;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-right: 0;
  font-size: .8rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.radio-container {
  cursor: pointer;
  background-color: #edeef6;
  border-radius: 100px;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .5rem;
  position: relative;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, .52), 1px 1px 1px #fff, inset 1px 1px 3px rgba(67, 81, 104, .2);
}

.submit-button {
  color: #828690;
  text-align: center;
  background-color: #f3f7fc;
  border-radius: 100px;
  width: 80%;
  height: 43.9844px;
  margin-top: 20px;
  margin-left: 80px;
  padding: .75rem 1.75rem;
  font-size: 20px;
  font-weight: 600;
  box-shadow: -3px -3px 5px 1px rgba(255, 255, 255, .52), 3px 3px 5px 1px rgba(67, 81, 104, .2);
}

.radio-button-field {
  align-items: center;
  padding-left: 0;
  font-size: 1rem;
  display: flex;
}

.radio-on-container {
  padding: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.form-block-2 {
  width: 100%;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.checkbox {
  display: none;
}

.s-yes {
  color: #50a55c;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 6px;
  padding-right: 0;
  font-size: .8rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.radio-on {
  background-color: #f3f7fc;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 1px 0 #fff, 2px 2px 3px rgba(67, 81, 104, .2);
}

.paragraph-7 {
  color: #668cad;
  font-size: 16px;
}

.heading-8 {
  color: #babacf;
}

.hero-heading-left {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  margin-bottom: -30px;
  display: flex;
}

.hero-split-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  background-color: #1a1b1f;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading-9 {
  font-size: 35px;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, .52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open, .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .container {
    max-width: 728px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .testimonial-slider-left {
    left: -20px;
  }

  .testimonial-slider-right {
    right: -20px;
  }

  .testimonial-slide {
    padding-left: 32px;
  }

  .testimonial-quote {
    overflow: visible;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .container-4 {
    max-width: 728px;
  }

  .login-container {
    padding-top: 7%;
  }

  .login-head {
    margin-bottom: 4%;
  }

  .container-5 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-left: auto;
    margin-right: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }

  .sportcenter, .hero-heading-center, .team-slider, .testimonial-slider-small {
    padding: 60px 15px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .hero-without-image, .testimonial-slider-large {
    padding: 60px 15px;
  }

  .testimonial-slide {
    flex-direction: column;
    padding: 23px;
  }

  .testimonial-content {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .testimonial-quote-icon {
    width: 50px;
    margin-bottom: 16px;
  }

  .testimonial-image-two {
    width: 100%;
    height: auto;
  }

  .features-list, .hero-without-image-2 {
    padding: 60px 15px;
  }

  .signup-field {
    height: 50px;
  }

  .login-button {
    margin-top: 15px;
  }

  .signup-label {
    margin-bottom: 2px;
  }

  .login-page-wrapper {
    padding-top: 0;
  }

  .field-wrapper.first-name-wrapper {
    margin-right: 5%;
  }

  .div-block-2 {
    max-width: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .grid-image {
    width: 35%;
  }

  .container {
    max-width: none;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .testimonial-quote-icon {
    width: 30px;
  }

  .testimonial-quote {
    font-size: 22px;
    line-height: 30px;
  }

  .testimonial-author-image-three {
    margin-right: 16px;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .container-4 {
    max-width: none;
  }

  .login-container {
    min-width: 0;
  }

  .login-head {
    font-size: 22px;
  }

  .div-block-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .submit-button {
    padding: .75rem 1.5rem;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .container-5 {
    max-width: none;
  }
}

#w-node-b6955cbe-c216-762e-c9c0-d7d4a5dc0adb-a70351dd, #w-node-b6955cbe-c216-762e-c9c0-d7d4a5dc0aed-a70351dd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3b645c39-8795-5a9a-a608-d673dada5c95-a70351dd {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
}

#w-node-b6955cbe-c216-762e-c9c0-d7d4a5dc0af2-a70351dd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a0789bd3-d3bb-d48e-a155-92f0969387aa-a70351dd, #w-node-_375e7270-1758-23b1-89e8-8430279babef-a70351dd {
  grid-area: span 9 / span 1 / span 9 / span 1;
}

#w-node-_93575bd0-562c-b761-6a84-e59eefe76d4c-a70351dd {
  grid-area: span 16 / span 1 / span 16 / span 1;
}

#w-node-_036d5150-74a5-3405-01bb-fdf5240ba7e1-d27834a7, #w-node-_47611c93-b5a8-82b4-6a33-95661f7dcac3-d27834a7, #w-node-_80ff5864-e988-d725-5567-189a6a5c8a3e-d27834a7, #w-node-_17d3a023-6b35-4be3-2523-8b8c7bef668c-d27834a7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-b6955cbe-c216-762e-c9c0-d7d4a5dc0adb-a70351dd {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b6955cbe-c216-762e-c9c0-d7d4a5dc0adb-a70351dd {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


